<section>
  <div class="header flex justify-content-between align-items-center pl-3 pr-3">
    <div class="header-left">
      <img src="img/Logo.png" alt="lalala" />
    </div>
    @if(!isShowingRecipe()) {
      <div class="header-right flex gap-4">
        <button
          pButton
          type="button"
          class="p-button-text flex justify-content-center align-items-center gap-2"
          [text]="true"
          [plain]="true"
        >
          <i class="pi pi-globe p-button-icon-left button-icon"></i>
          <span
            (click)="menuLanguage.toggle($event)"
            (keydown.enter)="menuLanguage.toggle($event)"
            tabindex="0"
          >
          {{ language }}
            <i class="pi pi-chevron-down p-button-icon-right"></i>
          <p-overlayPanel
            #menuLanguage
            styleClass="custom-togglemenu custom-togglemenu-language"
          >
            <ul>
              @for(lang of languages; track lang){
                <li
                  pButton
                  (click)="changeLang(lang.value, menuLanguage)"
                  (keydown.enter)="menuLanguage.toggle($event)"
                  tabindex="0"
                >
                {{ lang.value | translate }}
              </li>
              }
            </ul>
          </p-overlayPanel>
        </span>
        </button>
        <button
          pButton
          type="button"
          class="p-button-text flex justify-content-center align-items-center gap-2"
          [text]="true"
          [plain]="true"
          (click)="goToMyAccount()"
        >
          <span>{{ "HEADER.MYACCOUNT" | translate }}</span>
          <i class="pi pi-user p-button-icon-right button-icon"></i>
        </button>
      </div>
    }
  </div>

  @if(!isShowingRecipe()) {
    <p-menubar
      [model]="navItems"
      styleClass="custom-menubar pl-3 pr-3 gap-4"
      class="nav"
    >
      <ng-template pTemplate="start">
        <div
          class="nav-logo flex justify-content-center align-items-center gap-2"
        >
          <img src="icons/group-731.svg" alt="group-731" />
          <div class="nav-logo-text flex flex-column gap-1">
          <span class="header-first-column-span">{{
              "HEADER.WHERE" | translate
            }}</span>
            <img src="img/WATER_ANALYST.png" alt="water analyst" />
          </div>
          <div class="separator"></div>
        </div>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <a
          pButton
          type="button"
          [routerLink]="item.routerLink"
          class="p-button-text custom-nav-button flex gap-2"
          [ngClass]="{
        active: isActive(item.routerLink)
      }"
          (click)="resetFormData()"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <img
            [src]="isActive(item.routerLink) ? item.activeIcon : item.icon"
            [alt]="item.label"
            class="menu-icon"
          />
          {{ item.label }}
        </a>
      </ng-template>
      <ng-template pTemplate="end" style="position: relative">
        <p-button
          [label]="'HEADER.NEW' | translate"
          icon="pi pi-plus"
          styleClass="custom-button"
          (click)="menu.toggle($event)"
        />
        <p-overlayPanel #menu styleClass="custom-togglemenu">
          <ul>
            @for(item of newActions; track item) {
              <li
                pButton
                [routerLink]="item.routerLink"
                (click)="resetFormData()"
                (keydown.enter)="resetFormData()"
                tabindex="0"
              >
                <img [src]="item.icon!" [alt]="item.label!">
                {{ item.label! | translate }}
              </li>
            }
          </ul>
        </p-overlayPanel>
      </ng-template>
    </p-menubar>
  }
</section>
